In [1]:
import pandas as pd
from sklearn.decomposition import PCA

In [10]:
main_data = pd.read_excel("/Users/chuhanli/Documents/GitHub/HousingFoward/main_data.csv")
finance_data = pd.read_csv("/Users/chuhanli/Documents/GitHub/HousingFoward/finance_data.csv")

FileNotFoundError: [Errno 2] No such file or directory: '/Users/chuhanli/Documents/GitHub/HousingFoward/main_data.csv'

In [11]:
finance_data

,Municipality,Single family value,Single family parcel,Avg single family value,Single family tax bill,Single family tax bill rate,Income per capita,Avg tax bill over income,Rank
0,Abington,1.324427e+09,3789.000000,349052.9,5953.777778,1.715556,33759.3,17.835556,108.444444
1,Andover,5.369069e+09,8615.857143,622835.6,9392.142857,1.510000,76771.0,12.580000,32.142857
2,Ayer,5.163446e+08,1605.555556,320107.7,4517.222222,1.413333,31578.9,14.592222,199.555556
3,Belmont,4.802108e+09,4523.000000,1061288.0,12781.000000,1.218889,83151.9,15.691111,11.333333
4,Beverly,4.156975e+09,8485.333333,489553.1,6555.000000,1.350000,42045.0,15.970000,80.111111
5,Braintree,4.140620e+09,9061.111111,456769.7,4762.444444,1.051111,39712.0,12.136667,180.000000
6,Brockton,4.159996e+09,16614.000000,250076.9,3952.555556,1.612222,19867.6,20.034444,244.888889
7,Canton,2.883704e+09,5407.555556,532795.6,6596.111111,1.243333,55712.2,11.962222,79.222222
8,Chelsea,2.201653e+08,835.000000,263671.0,3494.000000,1.330000,17281.2,16.870000,328.000000
9,Concord,4.473480e+09,4590.666667,974348.2,13938.166667,1.431667,122671.8,11.946667,7.000000
10,Dedham,3.172285e+09,6607.333333,479934.9,6956.444444,1.465556,52060.3,13.772222,69.111111
11,Everett,1.018990e+09,2702.000000,377124.0,3907.000000,1.040000,19630.9,17.310000,309.000000
12,Franklin,3.306308e+09,7703.000000,429012.8,6234.666667,1.456667,46291.5,13.741111,94.555556
13,Hingham,4.920432e+09,6215.555556,791415.3,9490.444444,1.204444,102970.4,9.590000,31.555556
14,Kingston,1.606018e+09,3970.700000,402938.0,6412.000000,1.611000,38277.0,16.783000,91.111111
15,Mansfield,2.401584e+09,5403.400000,444078.0,6749.900000,1.526000,45372.3,14.862000,78.777778
16,Needham,7.521628e+09,8390.222222,896315.6,10958.222222,1.216667,104259.8,10.676667,20.333333
17,Newton,1.834406e+10,16957.444444,1081858.0,11839.333333,1.102222,122487.1,9.952222,14.666667
18,Norwood,2.581986e+09,5844.111111,441765.9,4925.111111,1.118889,39923.1,12.477778,170.777778
19,Plymouth,6.479238e+09,18646.111111,346557.8,5564.111111,1.605556,34393.3,16.543333,128.111111
20,Quincy,5.891577e+09,13676.888889,430744.2,5684.444444,1.338889,32248.5,17.930000,120.888889
21,Rockport,1.450759e+09,2395.111111,605081.9,6296.333333,1.050000,45092.5,14.257778,91.111111
22,Stoneham,2.558688e+09,5121.222222,499354.8,5833.444444,1.183333,40555.7,14.715556,112.222222
23,Wakefield,3.079989e+09,6244.875000,493124.0,6369.250000,1.296250,43762.3,15.121250,85.250000
24,Waltham,3.633604e+09,8740.000000,415744.0,4631.000000,1.110000,34642.0,11.280000,249.000000
25,Wellesley,9.242472e+09,7297.444444,1266494.0,14808.555556,1.171111,179811.5,8.514444,4.666667
26,Westwood,3.449702e+09,4519.500000,762847.0,11270.500000,1.481000,107662.0,10.482000,17.888889
27,Weymouth,4.834184e+09,13301.666667,362927.1,4465.555556,1.238889,32660.7,13.924444,203.666667
28,Whitman,1.069452e+09,3357.800000,318042.3,4836.100000,1.531000,29412.8,16.404000,183.111111
29,Winchester,5.833374e+09,5648.222222,1032281.0,12721.777778,1.231111,102234.0,12.683333,11.111111

In [20]:
sorted_ = finance_data.sort_values(by = ["Avg tax bill over income	 "], ascending = True)
sorted_

,Municipality,Single family value,Single family parcel,Avg single family value,Single family tax bill,Single family tax bill rate,Income per capita,Avg tax bill over income,Rank
11,Everett,1.018990e+09,2702.000000,377124.0,3907.000000,1.040000,19630.9,17.310000,309.000000
21,Rockport,1.450759e+09,2395.111111,605081.9,6296.333333,1.050000,45092.5,14.257778,91.111111
5,Braintree,4.140620e+09,9061.111111,456769.7,4762.444444,1.051111,39712.0,12.136667,180.000000
17,Newton,1.834406e+10,16957.444444,1081858.0,11839.333333,1.102222,122487.1,9.952222,14.666667
24,Waltham,3.633604e+09,8740.000000,415744.0,4631.000000,1.110000,34642.0,11.280000,249.000000
18,Norwood,2.581986e+09,5844.111111,441765.9,4925.111111,1.118889,39923.1,12.477778,170.777778
25,Wellesley,9.242472e+09,7297.444444,1266494.0,14808.555556,1.171111,179811.5,8.514444,4.666667
22,Stoneham,2.558688e+09,5121.222222,499354.8,5833.444444,1.183333,40555.7,14.715556,112.222222
13,Hingham,4.920432e+09,6215.555556,791415.3,9490.444444,1.204444,102970.4,9.590000,31.555556
16,Needham,7.521628e+09,8390.222222,896315.6,10958.222222,1.216667,104259.8,10.676667,20.333333
3,Belmont,4.802108e+09,4523.000000,1061288.0,12781.000000,1.218889,83151.9,15.691111,11.333333
29,Winchester,5.833374e+09,5648.222222,1032281.0,12721.777778,1.231111,102234.0,12.683333,11.111111
27,Weymouth,4.834184e+09,13301.666667,362927.1,4465.555556,1.238889,32660.7,13.924444,203.666667
7,Canton,2.883704e+09,5407.555556,532795.6,6596.111111,1.243333,55712.2,11.962222,79.222222
23,Wakefield,3.079989e+09,6244.875000,493124.0,6369.250000,1.296250,43762.3,15.121250,85.250000
8,Chelsea,2.201653e+08,835.000000,263671.0,3494.000000,1.330000,17281.2,16.870000,328.000000
20,Quincy,5.891577e+09,13676.888889,430744.2,5684.444444,1.338889,32248.5,17.930000,120.888889
4,Beverly,4.156975e+09,8485.333333,489553.1,6555.000000,1.350000,42045.0,15.970000,80.111111
2,Ayer,5.163446e+08,1605.555556,320107.7,4517.222222,1.413333,31578.9,14.592222,199.555556
9,Concord,4.473480e+09,4590.666667,974348.2,13938.166667,1.431667,122671.8,11.946667,7.000000
12,Franklin,3.306308e+09,7703.000000,429012.8,6234.666667,1.456667,46291.5,13.741111,94.555556
10,Dedham,3.172285e+09,6607.333333,479934.9,6956.444444,1.465556,52060.3,13.772222,69.111111
26,Westwood,3.449702e+09,4519.500000,762847.0,11270.500000,1.481000,107662.0,10.482000,17.888889
1,Andover,5.369069e+09,8615.857143,622835.6,9392.142857,1.510000,76771.0,12.580000,32.142857
15,Mansfield,2.401584e+09,5403.400000,444078.0,6749.900000,1.526000,45372.3,14.862000,78.777778
28,Whitman,1.069452e+09,3357.800000,318042.3,4836.100000,1.531000,29412.8,16.404000,183.111111
19,Plymouth,6.479238e+09,18646.111111,346557.8,5564.111111,1.605556,34393.3,16.543333,128.111111
14,Kingston,1.606018e+09,3970.700000,402938.0,6412.000000,1.611000,38277.0,16.783000,91.111111
6,Brockton,4.159996e+09,16614.000000,250076.9,3952.555556,1.612222,19867.6,20.034444,244.888889
0,Abington,1.324427e+09,3789.000000,349052.9,5953.777778,1.715556,33759.3,17.835556,108.444444

In [19]:
sorted_["Municipality"]

8        Chelsea
11       Everett
6       Brockton
28       Whitman
2           Ayer
20        Quincy
27      Weymouth
0       Abington
19      Plymouth
24       Waltham
14      Kingston
5      Braintree
18       Norwood
22      Stoneham
4        Beverly
23     Wakefield
21      Rockport
15     Mansfield
12      Franklin
10        Dedham
7         Canton
1        Andover
3        Belmont
29    Winchester
13       Hingham
16       Needham
26      Westwood
17        Newton
9        Concord
25     Wellesley
Name: Municipality, dtype: object